<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @cliente.localidad %>
</p>

<p>
  <strong>Codigopostal:</strong>
  <%= @cliente.codigopostal %>
</p>

<p>
  Coordenadas:
  <%= @cliente.lat %>,
  <%= @cliente.lon %>
  
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
